<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amaia.ud02ejcontrolesselelccion">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EJ01Spinner" />
        <activity android:name=".EJ02Spinner" />
        <activity android:name=".EJ03ListView" />
        <activity android:name=".EJ04ListView" />
        <activity
            android:name=".EJ05ListView"
            android:label="Titulares" />
        <activity android:name=".EJ06ViewHolder" />
        <activity android:name=".EJ07GridView"></activity>
    </application>

</manifest>